@import "_normalize.scss";
@import "_variables.scss";
@import "_sprite.scss";
@import "_slick.scss";

body {
	font: 300 14px/24px $gotham;
	color: #4e5268;

}

.site-header {
	&__top {
		height: 60px;
	}
	&__social {
		margin: 0;
		padding: 0;
		list-style-type: none;
		position: absolute;
		right: 0;
		top: 15px;
		li {
			display: inline-block;
			margin-left: 10px;
			width: 30px;
			height: 30px;
			a {
				display: block;
				height: 100%;
				opacity: .8;
				&:hover {
					opacity: 1;
				}
			}
			&.twit a {
				background: url(../img/h-twit.png);
			}
			&.vk a {
				background: url(../img/h-vk.png);
			}
			&.fb a {
				background: url(../img/h-fb.png);
			}
			&.inst a {
				background: url(../img/h-inst.png);
			}
		}
	}
	&__image {
		height: 680px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
	}
	&__logo {
		position: absolute;
		left: 0;
		top: 11px;
	}
	&__nav {
		margin: 0;
		padding: 0;
		list-style-type: none;
		text-align: center;
		li {
			display: inline-block;
			vertical-align: middle;
			a {
				font: 18px/64px $neucha;
				color: #000;
				text-decoration: none;
				text-transform: uppercase;
				margin: 0 32px;
				border-bottom: 2px solid transparent;
				padding-bottom: 15px;
				&:hover {
					color: #dd3a55;
					border-color: #dd3a55;
				}
			}
			&.current-menu-item a {
				color: #dd3a55;
				border-color: #dd3a55;
			}
		}
	}
}

.simple__title {
	text-align: center;
	color: #323742;
	font: 60px $neucha;
	margin: 60px 0 40px;
}

.gallery__slider {
	text-align: center;
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
	p {
		max-width: 920px;
		margin-left: auto;
		margin-right: auto;
	}
	&-container {
		max-width: 1220px;
		margin: 50px auto 0;
	}
	&-inner {
		padding: 0 40px;
	}
	.slick-arrow {
		position: absolute;
		font-size: 0px;
		text-indent: -9999px;
		padding: 0;
		top: 50%;
		margin-top: -10px;
		width: 13px;
		height: 20px;
		border: none;
		outline: 0;
		cursor: pointer;
		&.slick-prev {
			left: 0;
			background: url(../img/arr-l.png);
		}
		&.slick-next {
			right: 0;
			background: url(../img/arr-r.png);
		}
	}
	.slick-dots {
		margin: 0;
		padding: 0;
		list-style-type: none;
		position: absolute;
		bottom: 0;
		text-align: center;
		width: 100%;
		left: 0;
		li {
			display: inline-block;
			margin: 0 5px;
			vertical-align: middle;
			button {
				font-size: 0px;
				text-indent: -9999px;
				outline: 0;
				border: none;
				cursor: pointer;
				width: 9px;
				height: 9px;
				border-radius: 50%;
				background: #00afbf;
				padding: 0;
				&:hover {
					background: #fff;
				}
			}
			&.slick-active {
				button {
					background: #fff;
				}
			}
		}
	}
	&-buttons {
		margin: 50px 0;
		.btn {
			margin: 0 15px;
		}
	}
}

.news-block {
	background: #f9f3ef;
	padding: 0 0 60px;
	&__row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	&__col {
		width: 48%;
	}
	.post__date {
		font: 300 16px $gotham;
		float: left;
		margin: 0;
	}
	.post__cat {
		font: 500 11px $gotham;
		color: #fff;
		background-color: #b8b4b5;
		border-radius: 12px;
		padding: 7px 10px 5px;
		text-align: center;
		text-decoration: none;
		float: right;
		transition: $transition;
		&:hover {
			background: #e9425d;
		}
	}
	p {
		font: 300 14px/24px $gotham;
		color: #4e5268;
	}
	.post__title {
		font: 36px $neucha;
		color: #323742;
		text-decoration: none;
		display: inline-block;
		margin: 30px 0 15px;
		&:hover {
			color: #e9425d;
		}
	}
	.links-wrap {
		margin-top: 30px;
		text-align: center;
	}
}


.our-projects {
	&__row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	&__item {
		width: 25%;
		background-size: cover;
		background-position: top center;
		padding: 100px 80px 80px;
		color: #fff;
		text-align: center;
		position: relative;
		.full-link {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transition: $transition;
			&:hover {
				background: rgba(0, 0, 0, .2);
			}
		}
	}
	
	&__title {
		font: 36px $neucha;
		margin: 0 0 30px;
	}
	&__description {
		font-weight: 400;
		font-size: 16px;
	}
}

.triangle-item {
	& > div:nth-child(2)::after {
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 40px 40px 0;
		border-color: transparent #fff transparent transparent;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
	}
	& > div:nth-child(3)::after {
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 40px 40px 0 0;
		border-color: #fff transparent transparent transparent;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
	}
}

.our-team {
	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__item {
		max-width: 400px;
		width: 25%;
		position: relative;
		margin-bottom: 20px;
		&:hover {
			img {
				filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
				-webkit-filter: grayscale(0%);
				border-color: #99dfe5;
			}
			span {
				color: #00afbf;
			}
		}
		.full-link {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 1;
		}
		img {
			display: block;
			max-width: 100%;
			height: auto;
			border: 8px solid #f3f3f3;
			filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
			filter: gray;
			-webkit-filter: grayscale(100%);
			transition: $transition;
		}
		.name {
			display: block;
			text-align: center;
			margin: 20px 0 0;
			font: 700 18px $gotham;
			color: #323742;
			text-transform: uppercase;
			transition: $transition;
		}
		.role {
			display: block;
			text-align: center;
			font: 300 14px $gotham;
			color: #858585;
			margin: 15px 0;
		}
	}
	.links-wrap {
		margin: 30px 0;
	}
	
	.description {
		font-size: 12px;
		text-align: center;
	}
}

.blog-block {
	margin: 30px 0 0;
	&__row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item {
		position: relative;
		background-size: cover;
		background-position: top center;
		padding: 100px 60px 30px;
		width: 24.5%;
		margin-bottom: 10px;
		min-height: 450px;
		.full-link {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 1;
			transition: $transition;
			&:hover {
				background: rgba(0, 0, 0, .3);
			}
		}
		&.white-text {
			color: #fff;
			.name {
				color: #fff;
			}
		}
	}
	.blog-cat {
		font: 500 11px $gotham;
		color: #fff;
		background-color: #b8b4b5;
		border-radius: 12px;
		padding: 7px 10px 5px;
		text-align: center;
		text-decoration: none;
		position: absolute;
		right: 35px;
		top: 20px;
		transition: $transition;
	}
	.date {
		font: 300 16px $gotham;
		display: block;
	}
	.name {
		font: 30px $neucha;
		color: #000000;
		margin: 15px 0;
	}
	.description {
		font: 400 16px/24px $gotham;
	}
}

.about-block {
	padding-bottom: 50px;
	background: url(../img/about-block-bg.jpg) top center no-repeat;
	background-size: cover;
	&__row {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}
	&__col {
		width: 48%;
	}
}

.site-footer {
	&__top {
		background: #323742;
		padding: 65px 0;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}
	&__col {
		width: 25%;
		border-right: 1px solid #727c93;
		padding: 0 25px;
		&:last-child {
			border-right: none;
		}
	}
	.footer-title {
		margin: 0 0 30px;
		font: 24px $neucha;
		color: #fff;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			a {
				font: 400 12px $gotham;
				text-decoration: none;
				color: #fff;
			}
		}
	}
	p {
		color: #fff;
		font: 400 12px/16px $gotham;
		a {
			color: #fff;
			text-decoration: none;
			margin-left: 5px;
		}
	}
	.btn {
		margin-top: 30px;
	}
	&__bottom {
		background: #101115;
		padding: 25px 0;
		.copyright {
			margin: 0;
			float: left;
			font: 400 14px $gotham;
			color: #93949d;
		}
		.madein {
			float: right;
			font: 400 14px $gotham;
			color: #93949d;
			margin: 0;
			a {
				color: #e9425d;
			}
		}
	}
}

.pages__top {
	height: 380px;
	background-position: top center;
	background-size: cover;
}


.breadcrumbs {
	padding: 20px 0;
	background: #fafafa;
	a {
		font: 300 14px $gotham;
		color: #4e5268;
		text-decoration: none;
	}
	span {
		color: #e9425d;
		font: 300 14px $gotham;
	}
	.sep {
		margin: 0 10px;
		color: #4e5268;
	}
}

.blog__item {
	img {
		display: block;
		margin: 0 auto 30px;
		max-width: 100%;
		height: auto;
	}
	&-title {
		font: 36px $neucha;
		color: #323742;
		text-decoration: none;
		display: block;
		margin: 35px 0;
		&:hover {
			color: #e9425d;
		}
	}
	&-big {
		max-width: 1150px;
		margin: 0 auto 70px;
	}
	&-top {
		.date {
			float: left;
			font: 300 16px $gotham;
			color: #4e5268;
			display: block;
			padding-top: 3px;
		}
		.cat {
			font: 500 11px $gotham;
			color: #fff;
			background-color: #b8b4b5;
			border-radius: 12px;
			padding: 7px 10px 5px;
			text-align: center;
			text-decoration: none;
			float: right;
			transition: $transition;
			&:hover {
				background: #e9425d;
			}
		}
	}
	&-description {
		font: 300 14px/24px $gotham;
		color: #4e5268;
	}
}

.blog__list {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 30px;
	&-item {
		width: 48%;
		margin-bottom: 20px;
	}
}

.two__col {
	&-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 25px 0;
	}
	&-col {
		width: 48%;
		font: 400 16px/24px $gotham;
	}
}

.about__team {
	background: #f9f3ef;
	padding-bottom: 30px;
	.simple__title {
		color: #00afbf;
	}
}

.simple__small-title {
	font: 36px $neucha;
	text-align: center;
	margin: 30px 0;
}

.contact__form {
	margin-top: 50px;
	&-input {
		height: 50px;
		background-color: #f9f3ef;
		border: 1px solid #d7d7d7;
		border-radius: 2px;
		display: block;
		width: 100%;
		padding: 0 20px;
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&-textarea {
		height: 100%;
		resize: none;
		display: block;
		background-color: #f9f3ef;
		border: 1px solid #d7d7d7;
		border-radius: 2px;
		display: block;
		width: 100%;
		padding: 20px;
	}
	.submit-wrap {
		text-align: right;
	}
	.btn {
		cursor: pointer;
	}
}

.subscribe__form {
	max-width: 830px;
	margin: auto;
	text-align: center;
	.btn {
		cursor: pointer;
	}
}

.small__container {
	max-width: 1140px;
	margin: auto;
}

.calendar {
	margin-top: 50px;
}

.calendar__title {
	margin-bottom: 30px;
	.heading {
		float: left;
		font: 700 40px $neucha;
		margin: 0;
	}
	.links-wrap {
		float: left;
		margin-left: 30px;
		margin-top: 7px;
		a {
			display: inline-block;
			vertical-align: middle;
			width: 32px;
			height: 32px;
			background-repeat: no-repeat;
			margin: 0 5px;
			&.prev__link {
				background-image: url(../img/prev-link.png);
			}
			&.next__link {
				background-image: url(../img/next-link.png);
			}
		}
	}
}

.calendar__list-item {
	margin-bottom: 20px;
}

.calendar__item-top {
	padding: 30px;
	background: #ebebeb;
	border-radius: 3px;
	border-left: 5px solid transparent;
	transition: $transition;
	cursor: pointer;
	&:hover {
		background: #cbcee3;
	}
}

.calendar__img {
	display: block;
	float: left;
	border-radius: 5px;
}

.calendar__date {
	margin: 0 35px;
	float: left;
	text-align: center;
	span {
		display: block;
	}
	.day {
		font: 700 60px $neucha;
	}
	.month {
		font: 400 12px $gotham;
	}
}

.calendar__descr {
	float: left;
	margin-top: 10px;
	.title {
		margin: 0 0 10px;
		font: 700 24px $neucha;
	}
	span {
		font: 300 12px $gotham;
		display: inline-block;
		vertical-align: middle;
		padding-left: 20px;
	}
	.hour {
		background: url(../img/hour-small.png) left center no-repeat;
	}
	.loc {
		background: url(../img/loc-small.png) left center no-repeat;
		margin-left: 20px;
	}
	.pay {
		margin: 0;
		font-style: italic;
		font-weight: 300;
		font-size: 12px;
		font-family: $gotham;
	}
}

.calendar__item-content {
	display: none;
	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: auto;
	}
}

.big-date-wrapper {
	background: #f5f5f5;
	padding: 30px 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.big-date-col {
	width: 50%;
	p {
		margin: 0;
		font: 700 24px $neucha;
		text-transform: uppercase;
		padding-left: 50px;
		span {
			font: 300 12px $gotham;
			display: block;
			text-transform: none;
			margin-top: 12px;
		}
	}
	.big-date {
		background: url(../img/big-hour.png) left top no-repeat;
	}
	.big-loc {
		background: url(../img/big-loc.png) left top no-repeat;
	}

}



.map-area {
	height: 260px;
	background: #ccc;
	position: relative;
	.map {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
}

.social-area {
	background: #f5f5f5;
	padding: 30px 40px;
}


.calendar__list-item.active {
	border: 1px solid #cbcee3;
	border-radius: 3px;
	.calendar__item-content {
		display: block;
	}
}

.social__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		margin-right: 10px;
		display: inline-block;
		vertical-align: middle;
		width: 48px;
		height: 48px;
		position: relative;
		background: #ebebeb;
		border-radius: 50%;
		&:hover {
			background: #767989;
		}
		a {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: 50%;
		}
		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&.fb {
			span {
				@include sprite($fb-ico);
			}
			&:hover {
				span {
					@include sprite($fb-ico-hover);
				}
			}
		}
		&.twit {
			span {
				@include sprite($twit-ico);
			}
			&:hover {
				span {
					@include sprite($twit-ico-hover);
				}
			}
		}
		&.in {
			span {
				@include sprite($in-ico);
			}
			&:hover {
				span {
					@include sprite($in-ico-hover);
				}
			}
		}
		&.gplus {
			span {
				@include sprite($gplus-ico);
			}
			&:hover {
				span {
					@include sprite($gplus-ico-hover);
				}
			}
		}
		&.pint {
			span {
				@include sprite($pint-ico);
			}
			&:hover {
				span {
					@include sprite($pint-ico-hover);
				}
			}
		}
		&.mail {
			span {
				@include sprite($email-ico);
			}
			&:hover {
				span {
					@include sprite($email-ico-hover);
				}
			}
		}
	}
}

.partners__list {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-end;
	&-item {
		position: relative;
		width: 25%;
		text-align: center;
		margin-bottom: 20px;
		.full-link {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	.img-wrap {
		height: 200px;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			display: block;
			max-width: 100%;
			height: auto;
			margin: auto;
		}
	}
}

.project__page {
	.simple__title {
		margin-bottom: 20px;
	}
	&-slogan {
		text-align: center;
		font-size: 16px;
		color: #4e5268;
		span {
			display: block;
			font: 30px $neucha;
			color: #00afbf;
			margin-top: 5px;
		}
	}
}

.synopsis {
	p {
		text-align: center;
		max-width: 940px;
		margin: 30px auto;
	}
}


.casting__list {
	.our-team__item img {
		filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
		-webkit-filter: grayscale(0%);
	}
}































































