block footer

	footer.site-footer
		.site-footer__top
			.container
				.site-footer__row
					.site-footer__col
						a.footer-logo(href="#")
							img(src="img/footer-logo.png", alt="")
					.site-footer__col
						p.footer-title Главное меню
						ul
							li
								a(href="#") О компании
							li
								a(href="#") Команда
							li
								a(href="#") Новости
							li
								a(href="#") Проекты
							li
								a(href="#") События
							li
								a(href="#") Партнеры
							li
								a(href="#") Фотогалерея
							li
								a(href="#") Контакты
					.site-footer__col
						p.footer-title Ищите нас в соцсетях
						ul
							li
								a(href="#") Facebook
							li
								a(href="#") В Контакте
							li
								a(href="#") Insagram
							li
								a(href="#") Twitter
							li
								a(href="#") Vimeo 
							li
								a(href="#") YouTube
					.site-footer__col
						p.footer-title Контакты
						p.address © «Студия Первый А» <br>Москва, Мосфильмовская 1
						p.email Email:  
							a(href="mailto:info@studia1a.ru")  info@studia1a.ru
						p.tel Телефон:  
							a(href="tel:+7 910 000 5855")  +7 910 000 5855
						a.btn.btn--blue(href="#") написать нам

		.site-footer__bottom
			.container.cf
				p.copyright Все права защищены © 2017 г.
				p.madein Дизайн и разработка 
					a(href="https://belugalab.ru" target="_blank") Beluga Labs









