block header

	header.site-header
		.site-header__top.container
			a.site-header__logo(href="#")
				img(src="img/header-logo.png", alt="")
			ul.site-header__nav
				li
					a(href="#") О компании
				li
					a(href="#") Команда
				li
					a(href="#") Новости
				li
					a(href="#") Проекты
				li
					a(href="#") События
				li
					a(href="#")  Партнеры
				li
					a(href="#")  Фотогалерея
				li
					a(href="#")  Контакты
			ul.site-header__social
				li.twit
					a(href="#")
				li.vk
					a(href="#")
				li.fb
					a(href="#")
				li.inst
					a(href="#")
		//- .site-header__image(style="background-image: url(img/top-home.jpg)")


