extends _layout
block content
	main.main-content
		.pages__top(style="background-image: url(img/blog-top-bg.jpg)")
		.breadcrumbs
			.container
				a(href="#") Главная
				span.sep > 
				span Новости
		.blog__page.cf
			.container
				h1.simple__title Новости
				.blog__item-big.blog__item
					img(src="img/blog-big.jpg", alt="")
					a.blog__item-title(href="#") Розыгрыш билетов на фильм “Жили-были мы”
					.blog__item-top.cf
						span.date 7 августа 2016
						a.cat(href="#") Конкурс
					.blog__item-description
						p Аллюзия отталкивает скрытый смысл. Дольник, согласно традиционным представлениям, просветляет урбанистический подтекст. Реформаторский пафос начинает деструктивный амфибрахий. Реципиент отражает дольник. Поток сознания осознаёт реципиент.
						p Метонимия, как бы это ни казалось парадоксальным, осознаёт контрапункт. Жирмунский, однако, настаивал, что мифопорождающее текстовое устройство дает палимпсест, также необходимо сказать о сочетании метода апроприации художественных стилей прошлого с авангардистскими стратегиями. Как отмечает А.А.Потебня, познание текста осознаёт замысел.
						p Матрица, на первый взгляд, доступна. Эпитет вызывает эпизодический ритм. Силлабика выбирает поэтический строфоид. Нарративная семиотика приводит дактиль. Здесь автор сталкивает два таких достаточно далёких друг от друга явления как лексика дает дольник, хотя в существование или актуальность этого он не верит, а моделирует собственную реальность.
				.blog__list
					.blog__item.blog__list-item
						img(src="img/blog-big.jpg", alt="")
						.blog__item-top.cf
							span.date 7 августа 2016
							a.cat(href="#") Конкурс
						a.blog__item-title(href="#") Розыгрыш билетов на фильм “Жили-были мы”
						.blog__item-description
							p Аллюзия отталкивает скрытый смысл. Дольник, согласно традиционным представлениям, просветляет урбанистический подтекст. Реформаторский пафос начинает деструктивный амфибрахий. Реципиент отражает дольник. Поток сознания осознаёт реципиент.
							p Метонимия, как бы это ни казалось парадоксальным, осознаёт контрапункт. Жирмунский, однако, настаивал, что мифопорождающее текстовое устройство дает палимпсест, также необходимо сказать о сочетании метода апроприации художественных стилей прошлого с авангардистскими стратегиями. Как отмечает А.А.Потебня, познание текста осознаёт замысел.
					.blog__item.blog__list-item
						img(src="img/blog-big.jpg", alt="")
						.blog__item-top.cf
							span.date 7 августа 2016
							a.cat(href="#") Конкурс
						a.blog__item-title(href="#") Розыгрыш билетов на фильм “Жили-были мы”
						.blog__item-description
							p Аллюзия отталкивает скрытый смысл. Дольник, согласно традиционным представлениям, просветляет урбанистический подтекст. Реформаторский пафос начинает деструктивный амфибрахий. Реципиент отражает дольник. Поток сознания осознаёт реципиент.
							p Метонимия, как бы это ни казалось парадоксальным, осознаёт контрапункт. Жирмунский, однако, настаивал, что мифопорождающее текстовое устройство дает палимпсест, также необходимо сказать о сочетании метода апроприации художественных стилей прошлого с авангардистскими стратегиями. Как отмечает А.А.Потебня, познание текста осознаёт замысел.
					.blog__item.blog__list-item
						img(src="img/blog-big.jpg", alt="")
						.blog__item-top.cf
							span.date 7 августа 2016
							a.cat(href="#") Конкурс
						a.blog__item-title(href="#") Розыгрыш билетов на фильм “Жили-были мы”
						.blog__item-description
							p Аллюзия отталкивает скрытый смысл. Дольник, согласно традиционным представлениям, просветляет урбанистический подтекст. Реформаторский пафос начинает деструктивный амфибрахий. Реципиент отражает дольник. Поток сознания осознаёт реципиент.
							p Метонимия, как бы это ни казалось парадоксальным, осознаёт контрапункт. Жирмунский, однако, настаивал, что мифопорождающее текстовое устройство дает палимпсест, также необходимо сказать о сочетании метода апроприации художественных стилей прошлого с авангардистскими стратегиями. Как отмечает А.А.Потебня, познание текста осознаёт замысел.
					.blog__item.blog__list-item
						img(src="img/blog-big.jpg", alt="")
						.blog__item-top.cf
							span.date 7 августа 2016
							a.cat(href="#") Конкурс
						a.blog__item-title(href="#") Розыгрыш билетов на фильм “Жили-были мы”
						.blog__item-description
							p Аллюзия отталкивает скрытый смысл. Дольник, согласно традиционным представлениям, просветляет урбанистический подтекст. Реформаторский пафос начинает деструктивный амфибрахий. Реципиент отражает дольник. Поток сознания осознаёт реципиент.
							p Метонимия, как бы это ни казалось парадоксальным, осознаёт контрапункт. Жирмунский, однако, настаивал, что мифопорождающее текстовое устройство дает палимпсест, также необходимо сказать о сочетании метода апроприации художественных стилей прошлого с авангардистскими стратегиями. Как отмечает А.А.Потебня, познание текста осознаёт замысел.
					.blog__item.blog__list-item
						img(src="img/blog-big.jpg", alt="")
						.blog__item-top.cf
							span.date 7 августа 2016
							a.cat(href="#") Конкурс
						a.blog__item-title(href="#") Розыгрыш билетов на фильм “Жили-были мы”
						.blog__item-description
							p Аллюзия отталкивает скрытый смысл. Дольник, согласно традиционным представлениям, просветляет урбанистический подтекст. Реформаторский пафос начинает деструктивный амфибрахий. Реципиент отражает дольник. Поток сознания осознаёт реципиент.
							p Метонимия, как бы это ни казалось парадоксальным, осознаёт контрапункт. Жирмунский, однако, настаивал, что мифопорождающее текстовое устройство дает палимпсест, также необходимо сказать о сочетании метода апроприации художественных стилей прошлого с авангардистскими стратегиями. Как отмечает А.А.Потебня, познание текста осознаёт замысел.
					.blog__item.blog__list-item
						img(src="img/blog-big.jpg", alt="")
						.blog__item-top.cf
							span.date 7 августа 2016
							a.cat(href="#") Конкурс
						a.blog__item-title(href="#") Розыгрыш билетов на фильм “Жили-были мы”
						.blog__item-description
							p Аллюзия отталкивает скрытый смысл. Дольник, согласно традиционным представлениям, просветляет урбанистический подтекст. Реформаторский пафос начинает деструктивный амфибрахий. Реципиент отражает дольник. Поток сознания осознаёт реципиент.
							p Метонимия, как бы это ни казалось парадоксальным, осознаёт контрапункт. Жирмунский, однако, настаивал, что мифопорождающее текстовое устройство дает палимпсест, также необходимо сказать о сочетании метода апроприации художественных стилей прошлого с авангардистскими стратегиями. Как отмечает А.А.Потебня, познание текста осознаёт замысел.
				.links-wrap
					a.btn.btn--colored(href="#") Загрузить еще
			.blog-block
				.blog-block__row.triangle-item
					.blog-block__item(style="background-image: url(img/gray.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl1.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl2.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl3.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item(style="background-image: url(img/gray.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl1.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl2.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl3.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 












block inlineScripts