extends _layout
block content
	main.main-content
		.pages__top(style="background-image: url(img/blog-top-bg.jpg)")
		.breadcrumbs
			.container
				a(href="#") Главная
				span.sep > 
				span Контакты
		.contacts__page
			.container
				h1.simple__title Контакты
				.links-wrap
					p Не-текст, как справедливо считает И.Гальперин, неустойчив. Декодирование отталкивает диссонансный подтекст. Мужская рифма, не учитывая количества слогов, стоящих между ударениями, фонетически представляет собой цикл. Языковая материя, на первый взгляд, прочно выбирает диалогический композиционный анализ. Хорей неустойчив. Дискурс иллюстрирует возврат к стереотипам.
					a.btn.btn--blue(href="mailto:info@studia1a.ru") info@studia1a.ru
				.contact__form
					form
						h2.simple__small-title Ваш вопрос
						.two__col-row
							.two__col-col
								input.contact__form-input(type="text" placeholder="Ваше имя")
								input.contact__form-input(type="email" placeholder="Ваш email")
								input.contact__form-input(type="tel" placeholder="Ваш номер телефона")
							.two__col-col
								textarea.contact__form-textarea(placeholder="Напишите ваш вопрос")
						.submit-wrap
							input.btn.btn--colored(type="submit" value="отправить")

			.blog-block
				.blog-block__row.triangle-item
					.blog-block__item(style="background-image: url(img/gray.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl1.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl2.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl3.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item(style="background-image: url(img/gray.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl1.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl2.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl3.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 












block inlineScripts