extends _layout
block content
	main.main-content
		.pages__top(style="background-image: url(img/blog-top-bg.jpg)")
		.breadcrumbs
			.container
				a(href="#") Главная
				span.sep > 
				span События
		.contacts__page
			.container
				h1.simple__title Хотите узнавать о событиях первыми?
				.links-wrap
					p Категория текста семантически вызывает ритм. Метафора нивелирует холодный цинизм. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но цикл иллюстрирует сюжетный коммунальный модернизм. Размер отражает урбанистический одиннадцатисложник.
				form
					.subscribe__form
						input.contact__form-input(type="text" placeholder="Ваше имя")
						input.contact__form-input(type="email" placeholder="Ваш email")
						input.btn.btn--colored(type="submit" value="Подписаться на рассылку")
				.calendar.small__container
					.calendar__title.cf
						p.heading Календарь событий, 
							span март 2017
						.links-wrap
							a.prev__link(href="#")
							a.next__link(href="#")
					.calendar__list
						.calendar__list-item.active
							.calendar__item-top.cf(style="border-color: #4dbc8c")
								img.calendar__img(src="img/calendar-mini.png", alt="")
								.calendar__date
									span.day 22
									span.month января
								.calendar__descr
									p.title Выставка содружества художников-иллюстраторов «Волшебная пила»
									span.hour 16:00 - 20:00
									span.loc Краснодар, улица Ленина, 225, Зал Дома Офицеров
									p.pay Вход:
										span Бесплатный
							.calendar__item-content
								img(src="img/calendar-big-img.jpg", alt="")
								.big-date-wrapper
									.big-date-col
										p.big-date дата проведения
											span Вторник, 16:00 - 20:00
									.big-date-col
										p.big-loc Адрес
											span Санкт-Петербург, Васильевский остров, 225
								.map-area
									#map_canvas.map
								.social-area
									ul.social__list
										li.fb
											a(href="#")
												span
										li.twit
											a(href="#")
												span
										li.in
											a(href="#")
												span
										li.gplus
											a(href="#")
												span
										li.pint
											a(href="#")
												span
										li.mail
											a(href="#")
												span
						.calendar__list-item
							.calendar__item-top.cf(style="border-color: #4dbc8c")
								img.calendar__img(src="img/calendar-mini.png", alt="")
								.calendar__date
									span.day 22
									span.month января
								.calendar__descr
									p.title Выставка содружества художников-иллюстраторов «Волшебная пила»
									span.hour 16:00 - 20:00
									span.loc Краснодар, улица Ленина, 225, Зал Дома Офицеров
									p.pay Вход:
										span Бесплатный
							.calendar__item-content
								img(src="img/calendar-big-img.jpg", alt="")
								.big-date-wrapper
									.big-date-col
										p.big-date дата проведения
											span Вторник, 16:00 - 20:00
									.big-date-col
										p.big-loc Адрес
											span Санкт-Петербург, Васильевский остров, 225
								.map-area
									#map_canvas2.map
								.social-area
									ul.social__list
										li.fb
											a(href="#")
												span
										li.twit
											a(href="#")
												span
										li.in
											a(href="#")
												span
										li.gplus
											a(href="#")
												span
										li.pint
											a(href="#")
												span
										li.mail
											a(href="#")
												span
						.calendar__list-item
							.calendar__item-top.cf(style="border-color: #f69461")
								img.calendar__img(src="img/calendar-mini.png", alt="")
								.calendar__date
									span.day 22
									span.month января
								.calendar__descr
									p.title Выставка содружества художников-иллюстраторов «Волшебная пила»
									span.hour 16:00 - 20:00
									span.loc Краснодар, улица Ленина, 225, Зал Дома Офицеров
									p.pay Вход:
										span Бесплатный
							.calendar__item-content
								img(src="img/calendar-big-img.jpg", alt="")
								.big-date-wrapper
									.big-date-col
										p.big-date дата проведения
											span Вторник, 16:00 - 20:00
									.big-date-col
										p.big-loc Адрес
											span Санкт-Петербург, Васильевский остров, 225
								.map-area
									#map_canvas3.map
								.social-area
									ul.social__list
										li.fb
											a(href="#")
												span
										li.twit
											a(href="#")
												span
										li.in
											a(href="#")
												span
										li.gplus
											a(href="#")
												span
										li.pint
											a(href="#")
												span
										li.mail
											a(href="#")
												span
						.calendar__list-item
							.calendar__item-top.cf(style="border-color: #9ccc65")
								img.calendar__img(src="img/calendar-mini.png", alt="")
								.calendar__date
									span.day 22
									span.month января
								.calendar__descr
									p.title Выставка содружества художников-иллюстраторов «Волшебная пила»
									span.hour 16:00 - 20:00
									span.loc Краснодар, улица Ленина, 225, Зал Дома Офицеров
									p.pay Вход:
										span Бесплатный
							.calendar__item-content
								img(src="img/calendar-big-img.jpg", alt="")
								.big-date-wrapper
									.big-date-col
										p.big-date дата проведения
											span Вторник, 16:00 - 20:00
									.big-date-col
										p.big-loc Адрес
											span Санкт-Петербург, Васильевский остров, 225
								.map-area
									#map_canvas4.map
								.social-area
									ul.social__list
										li.fb
											a(href="#")
												span
										li.twit
											a(href="#")
												span
										li.in
											a(href="#")
												span
										li.gplus
											a(href="#")
												span
										li.pint
											a(href="#")
												span
										li.mail
											a(href="#")
												span
						.calendar__list-item
							.calendar__item-top.cf(style="border-color: #ffe578")
								img.calendar__img(src="img/calendar-mini.png", alt="")
								.calendar__date
									span.day 22
									span.month января
								.calendar__descr
									p.title Выставка содружества художников-иллюстраторов «Волшебная пила»
									span.hour 16:00 - 20:00
									span.loc Краснодар, улица Ленина, 225, Зал Дома Офицеров
									p.pay Вход:
										span Бесплатный
							.calendar__item-content
								img(src="img/calendar-big-img.jpg", alt="")
								.big-date-wrapper
									.big-date-col
										p.big-date дата проведения
											span Вторник, 16:00 - 20:00
									.big-date-col
										p.big-loc Адрес
											span Санкт-Петербург, Васильевский остров, 225
								.map-area
									#map_canvas5.map
								.social-area
									ul.social__list
										li.fb
											a(href="#")
												span
										li.twit
											a(href="#")
												span
										li.in
											a(href="#")
												span
										li.gplus
											a(href="#")
												span
										li.pint
											a(href="#")
												span
										li.mail
											a(href="#")
												span
			.links-wrap
				a.btn.btn--bordered(href="#") еще анонсы
			.blog-block
				.blog-block__row.triangle-item
					.blog-block__item(style="background-image: url(img/gray.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl1.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl2.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl3.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item(style="background-image: url(img/gray.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl1.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl2.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl3.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 












block inlineScripts
	script.
		var map,map2,map3,map4,map5;

		var myOptions = {
			zoom: 6,
			center: new google.maps.LatLng(51, -1),
		}

		var myOptions2 = {
			zoom: 4,
			center: new google.maps.LatLng(53, -2),
		}
		var myOptions3 = {
			zoom: 6,
			center: new google.maps.LatLng(51, -1),
		}

		var myOptions4 = {
			zoom: 4,
			center: new google.maps.LatLng(53, -2),
		}
		var myOptions5 = {
			zoom: 4,
			center: new google.maps.LatLng(53, -2),
		}

		map = new google.maps.Map(document.getElementById("map_canvas"),
		myOptions);

		map2 = new google.maps.Map(document.getElementById("map_canvas2"),
		myOptions2);
		map3 = new google.maps.Map(document.getElementById("map_canvas3"),
		myOptions3);
		map4 = new google.maps.Map(document.getElementById("map_canvas4"),
		myOptions4);
		map5 = new google.maps.Map(document.getElementById("map_canvas5"),
		myOptions5);