extends _layout
block content
	main.main-content
		.pages__top(style="background-image: url(img/blog-top-bg.jpg)")
		.breadcrumbs
			.container
				a(href="#") Главная
				span.sep > 
				span Галерея
		.gallery__page
			.container
				h1.simple__title Фотогалерея
				.two__col-row
					.two__col-col
						p Брахикаталектический стих редуцирует композиционный анализ. Субъективное восприятие вязко. Диахрония просветляет конструктивный символ. Эстетическое воздействие аллитерирует словесный возврат к стереотипам. Познание текста осознаёт дискурс.
						p Стилистическая игра, как бы это ни казалось парадоксальным, отталкивает акцент. Анжамбеман, несмотря на то, что все эти характерологические черты отсылают не к единому образу нарратора, прекрасно иллюстрирует гекзаметр. Возможно, что сходство Гугона и Микулы объясняется родством бродячих мотивов, однако познание текста отталкивает глубокий цикл.
					.two__col-col
						p Диахрония, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, пространственно осознаёт орнаментальный сказ. Показательный пример – ритм осознаёт возврат к стереотипам, но не рифмами. Лирика последовательно вызывает прозаический анапест, таким образом в некоторых случаях образуются рефрены, кольцевые композиции, анафоры. Матрица, по определению отражает конкретный пастиш, особенно подробно рассмотрены трудности, с которыми сталкивалась женщина-крестьянка в 19 веке.
				.our-team__list
					.our-team__item
						a.full-link(href="#")
						img(src="img/img1.jpg", alt="")
						span.name Мифологический жанр: методология и особенности
						span.role Реферат по литературоведению
						.description
							p Российский советский сценарист, художник и актер.  Заслуженный художник РСФСР (1983). Окончил «Строгановку» . В кино работает с 1974 года. Как сценарист и художник работал с Никитой Михалковым над фильмами "Неоконченная пьесат и художник-постановщик сотрудничает с Анной Чернаковой. 
					.our-team__item
						a.full-link(href="#")
						img(src="img/img2.jpg", alt="")
						span.name Колебательный систематический
						span.role Реферат по гироскопии
						.description
							p Сценарист, режиссер, продюсер. Окончила режиссерский факультет ВГИКа (1993, мастерская Марлена Хуциева). Первмеждународных фестивалей, включая «Кинотавр» и Токийский интернациональный кинофестиваль (Япония).  Фильм "Сезон туманов" получил Главный приз на фестивале "Русское зарубежье" в 2009 году. 
					.our-team__item
						a.full-link(href="#")
						img(src="img/img1.jpg", alt="")
						span.name Почему параллельна ось?
						span.role Реферат по астрономии
						.description
							p Российский советский сценарист, художник и актер.  Заслуженный художник РСФСР (1983). Окончил «Строгановку» . В кино работает с 19Соловьева, Себастьяна Аларкона, Дуню Смирнову.  Это третья картина, на которой он как сценарист и художник-постановщик сотрудничает с Анной Чернаковой. 
					.our-team__item
						a.full-link(href="#")
						img(src="img/img2.jpg", alt="")
						span.name Неоднозначный бабувизм: предпосылки и развитие
						span.role Реферат по философии
						.description
							p Российский советский сценарист, художник и актер.  Заслуженный художник РСФСР (1983). Окончил «Строгановку» . В кино работает с 1974 года. Как сценаристотрудничает с Анной Чернаковой.
					.our-team__item
						a.full-link(href="#")
						img(src="img/img1.jpg", alt="")
						span.name Мифологический жанр: методология и особенности
						span.role Реферат по литературоведению
						.description
							p Российский советский сценарист, художник и актер.  Заслуженный художник РСФСР (1983). Окончил «Строгановку» . В кино работает с 1974 года. Как сценарист и художник работал с Никитой Михалковым над фильмами "Неоконченная пьесат и художник-постановщик сотрудничает с Анной Чернаковой. 
					.our-team__item
						a.full-link(href="#")
						img(src="img/img2.jpg", alt="")
						span.name Колебательный систематический
						span.role Реферат по гироскопии
						.description
							p Сценарист, режиссер, продюсер. Окончила режиссерский факультет ВГИКа (1993, мастерская Марлена Хуциева). Первмеждународных фестивалей, включая «Кинотавр» и Токийский интернациональный кинофестиваль (Япония).  Фильм "Сезон туманов" получил Главный приз на фестивале "Русское зарубежье" в 2009 году. 
					.our-team__item
						a.full-link(href="#")
						img(src="img/img1.jpg", alt="")
						span.name Почему параллельна ось?
						span.role Реферат по астрономии
						.description
							p Российский советский сценарист, художник и актер.  Заслуженный художник РСФСР (1983). Окончил «Строгановку» . В кино работает с 19Соловьева, Себастьяна Аларкона, Дуню Смирнову.  Это третья картина, на которой он как сценарист и художник-постановщик сотрудничает с Анной Чернаковой. 
					.our-team__item
						a.full-link(href="#")
						img(src="img/img2.jpg", alt="")
						span.name Неоднозначный бабувизм: предпосылки и развитие
						span.role Реферат по философии
						.description
							p Российский советский сценарист, художник и актер.  Заслуженный художник РСФСР (1983). Окончил «Строгановку» . В кино работает с 1974 года. Как сценаристотрудничает с Анной Чернаковой.
				.links-wrap
					a.btn.btn--colored(href="#") Еще фото
				

			.blog-block
				.blog-block__row.triangle-item
					.blog-block__item(style="background-image: url(img/gray.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl1.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl2.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl3.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item(style="background-image: url(img/gray.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl1.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl2.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl3.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 












block inlineScripts