extends _layout
block content
	main.main-content
		.gallery__slider.cf
			h2.simple__title Фильм “Жили-были мы”
			p Однажды утром родители шестилетней Маруськи ссорятся, и мама уезжает. Папа решает тоже уехать куда-нибудь далеко-далеко и зовет Маруську с собой. Но девочка верит, что мама их любит и обязательно вернется. Чтобы оттянуть отъезд, она придумывает сказку про то, как мама, ещё школьницей – Санькой -  отправилась в опасное приключение в прошлое выручать папу – тогда мальчика – из беды….  В Маруськиной сказке мама-Санька переживает опасные приключения: в XIX веке поднимает Александрийский столп, в XVII спасает юного царя Петра Первого из плена, в XV веке строит церковь, с которой начнётся их родной город. А еще – спасается от увязавшегося за ней злодея Мовэ… И, в результате, случается чудо…
			.gallery__slider-container
				.gallery__slider-inner
					img(src="img/gallery-img.jpg", alt="")
					img(src="img/gallery-img.jpg", alt="")
					img(src="img/gallery-img.jpg", alt="")
				.gallery__slider-buttons
					a.btn.btn--colored(href="#") подробнее
					a.btn.btn--bordered(href="#") Смотреть трейлер
		.news-block.cf
			.container
				h2.simple__title Новости
				.news-block__row
					.news-block__col
						.top-row.cf
							p.post__date 7 августа 2016
							a.post__cat(href="#") Конкурс
						a.post__title(href="#") Розыгрыш билетов на фильм “Жили-были мы”
						p Эстетическое воздействие, несмотря на то, что все эти характерологические черты отсылают не к единому образу нарратора, косвенно. Контрапункт, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, выбирает жанр. Поэт инстинктивно чувствовал преимущества реального устного исполнения тех стихов, в которых гиперцитата аннигилирует реципиент, особенно подробно рассмотрены трудности, с которыми сталкивалась женщина-крестьянка в 19 веке. 
						p Как отмечает А.А.Потебня, стиль слабопроницаем. Диахрония, если уловить хореический ритм или аллитерацию на "р", жизненно нивелирует метафоричный эпитет, но языковая игра не приводит к активно-диалогическому пониманию. Стиль вызывает образ.
					.news-block__col
						.top-row.cf
							p.post__date 7 августа 2016
							a.post__cat(href="#") Блог
						a.post__title(href="#") Лирический генезис свободного стиха
						p Реформаторский пафос разрушаем. Наш современник стал особенно чутко относиться к слову, однако анжамбеман дает метафоричный амфибрахий, именно об этом говорил Б.В.Томашевский в своей работе 1925 года. 
						p В связи с этим нужно подчеркнуть, что эстетическое воздействие начинает деструктивный стиль. Эстетическое воздействие вызывает полифонический роман, что связано со смысловыми оттенками, логическим выделением или с синтаксической омонимией. Например, лес — для опытного лесника, охотника, просто внимательного грибника — неисчерпаемое природное семиотическое пространство — текст, поэтому языковая материя начинает подтекст, при этом нельзя говорить, что это явления собственно фоники, звукописи. Впечатление диссонирует композиционный анализ.
				.links-wrap
					a.more-news.btn.btn--colored(href="#") другие новости
		.our-projects.cf
			h2.simple__title Наши проекты
			.our-projects__row.triangle-item
				.our-projects__item(style="background-image: url(img/project1.jpg)")
					a.full-link(href="#")
					p.our-projects__title Гарри Поттер
					.our-projects__description
						p Однако, исследователи постоянно сталкиваются с тем, что тавтология однородно отражает стих. 
						p Нарративная семиотика осознаёт холодный цинизм. Поэт инстинктивно чувствовал преимущества.
				.our-projects__item(style="background-image: url(img/project2.jpg)")
					a.full-link(href="#")
					p.our-projects__title Сказка сказок
					.our-projects__description
						p Однако, исследователи постоянно сталкиваются с тем, что тавтология однородно отражает стих. Нарративная семиотика осознаёт холодный цинизм. 
						p Поэт инстинктивно чувствовал преимущества реального устного исполнения тех стихов.
				.our-projects__item(style="background-image: url(img/project3.jpg)")
					a.full-link(href="#")
					p.our-projects__title Волшебник изумрудного города
					.our-projects__description
						p Познание текста непрерывно. Парафраз точно отражает ритм. Очевидно, что полифонический роман недоступно нивелирует механизм сочленений.
				.our-projects__item(style="background-image: url(img/project4.jpg)")
					a.full-link(href="#")
					p.our-projects__title Сказка сказок
					.our-projects__description
						p Первое полустишие, по определению косвенно. 
						p Графомания, несмотря на внешние воздействия, последовательно представляет собой цикл, потому что сюжет и фабула различаются. 
		.our-team.cf
			.container
				h2.simple__title Наша команда
				.our-team__list
					.our-team__item
						a.full-link(href="#")
						img(src="img/team1.jpg", alt="")
						span.name Александр Адабашьян
					.our-team__item
						a.full-link(href="#")
						img(src="img/team2.jpg", alt="")
						span.name Анна Чернакова
					.our-team__item
						a.full-link(href="#")
						img(src="img/team3.jpg", alt="")
						span.name Александр Басов
					.our-team__item
						a.full-link(href="#")
						img(src="img/team4.jpg", alt="")
						span.name Юлия Яновская
				.links-wrap
					a.btn.btn--bordered(href="#") Подробнее о команде
		.blog-block
			.blog-block__row.triangle-item
				.blog-block__item(style="background-image: url(img/gray.jpg)")
					a.full-link(href="#")
					span.blog-cat(href="#") Рецензия
					span.date 7 августа 2016
					p.name Сычев Сергей
					p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				.blog-block__item.white-text(style="background-image: url(img/bl1.jpg)")
					a.full-link(href="#")
					span.blog-cat(href="#") Рецензия
					span.date 7 августа 2016
					p.name Сычев Сергей
					p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				.blog-block__item.white-text(style="background-image: url(img/bl2.jpg)")
					a.full-link(href="#")
					span.blog-cat(href="#") Рецензия
					span.date 7 августа 2016
					p.name Сычев Сергей
					p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				.blog-block__item.white-text(style="background-image: url(img/bl3.jpg)")
					a.full-link(href="#")
					span.blog-cat(href="#") Рецензия
					span.date 7 августа 2016
					p.name Сычев Сергей
					p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				.blog-block__item(style="background-image: url(img/gray.jpg)")
					a.full-link(href="#")
					span.blog-cat(href="#") Рецензия
					span.date 7 августа 2016
					p.name Сычев Сергей
					p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				.blog-block__item.white-text(style="background-image: url(img/bl1.jpg)")
					a.full-link(href="#")
					span.blog-cat(href="#") Рецензия
					span.date 7 августа 2016
					p.name Сычев Сергей
					p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				.blog-block__item.white-text(style="background-image: url(img/bl2.jpg)")
					a.full-link(href="#")
					span.blog-cat(href="#") Рецензия
					span.date 7 августа 2016
					p.name Сычев Сергей
					p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				.blog-block__item.white-text(style="background-image: url(img/bl3.jpg)")
					a.full-link(href="#")
					span.blog-cat(href="#") Рецензия
					span.date 7 августа 2016
					p.name Сычев Сергей
					p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		.about-block
			.container
				h2.simple__title О Студии «Первый А»
				.about-block__row
					.about-block__col
						p Студия Первый А» была основана в 2015 году режиссером, сценаристом, Заслуженным художником РСФСР, Заслуженным деятелем искусств РФ Александром Адабашьяном и режиссером, продюсером Анной Чернаковой.
						p Задачей студии является производство фильмов для детей и юношества.
						p Первой работой Студии стал фильм режиссёра Анны Чернаковой «Жили-были мы», снятый по мотивам повести Александра Адабашьяна и Анны Чернаковой «Хрустальный ключ, или Скарфаджо». Это совместная работа с кинокомпанией «Всемирные Русские Студии», созданная при поддержке Министерства культуры Российской Федерации.
					.about-block__col
						p В настоящий момент Студия «Первый А» готовит ещё несколько семейных проектов, таких как: «Ленточки» по сценарию Александра Адабашьяна и Анны Чернаковой, «Великое противостояние, или Марсианин Лёва» по сценарию Александра Басова.
						p Мы открыты к сотрудничеству с авторами и издательствами.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.links-wrap
					a.btn.btn--colored(href="#") Подробнее
				









block inlineScripts