extends _layout
block content
	main.main-content
		.gallery__slider.cf
			h2.simple__title Фильм “Жили-были мы”
			p Однажды утром родители шестилетней Маруськи ссорятся, и мама уезжает. Папа решает тоже уехать куда-нибудь далеко-далеко и зовет Маруську с собой. Но девочка верит, что мама их любит и обязательно вернется. Чтобы оттянуть отъезд, она придумывает сказку про то, как мама, ещё школьницей – Санькой -  отправилась в опасное приключение в прошлое выручать папу – тогда мальчика – из беды….  В Маруськиной сказке мама-Санька переживает опасные приключения: в XIX веке поднимает Александрийский столп, в XVII спасает юного царя Петра Первого из плена, в XV веке строит церковь, с которой начнётся их родной город. А еще – спасается от увязавшегося за ней злодея Мовэ… И, в результате, случается чудо…
			.gallery__slider-container
				.gallery__slider-inner
					img(src="img/gallery-img.jpg", alt="")
					img(src="img/gallery-img.jpg", alt="")
					img(src="img/gallery-img.jpg", alt="")




block inlineScripts