extends _layout
block content
	main.main-content
		.pages__top(style="background-image: url(img/blog-top-bg.jpg)")
		.breadcrumbs
			.container
				a(href="#") Главная
				span.sep > 
				span Александр Артёмович Адабашьян
		.project__page
			.container
				h1.simple__title Александр Артёмович Адабашьян
				.our-team.cf
					.our-team__list
						.our-team__item
							img(src="img/team1.jpg", alt="")
						.our-team__item
							img(src="img/team1.jpg", alt="")
						.our-team__item
							img(src="img/team1.jpg", alt="")
						.our-team__item
							img(src="img/team1.jpg", alt="")
				.person-info
					p.person__role Должность: 
						span xудожник-постановщик и сосценарист
					p.person__contacts Контакты:
						span +7 890 890 89 89 <br>  AlexandrAA@gmail.com
					.person__shortinfo
						p.person__shortinfo-title Краткая информация
						p Российский советский сценарист, художник и актер. Заслуженный художник РСФСР (1983). 
						p Окончил «Строгановку» . В кино работает с 1974 года. Как сценарист и художник работал с Никитой Михалковым над фильмами "Неоконченная пьеса для механического пианино" (1977), "Пять вечеров" (1979), "Несколько дней из жизни И.И.Обломова" (1980), «Очи черные» (1987) и другими. Также сделал несколько фильмов с другими режиссерами, включая Сергея Соловьева, Себастьяна Аларкона, Дуню Смирнову. 
						p Это третья картина, на которой он как сценарист и художник-постановщик сотрудничает с Анной Чернаковой.
					.links-wrap
						a.btn.btn--colored(href="#") к списку авторов


				

			h2.simple__title О Студии «Первый А»
			.container
				.two__col-row
					.two__col-col
						p Студия Первый А» была основана в 2015 году режиссером, сценаристом, Заслуженным художником РСФСР, Заслуженным деятелем искусств РФ Александром Адабашьяном и режиссером, продюсером Анной Чернаковой.
						p Задачей студии является производство фильмов для детей и юношества.
						p Первой работой Студии стал фильм режиссёра Анны Чернаковой «Жили-были мы», снятый по мотивам повести Александра Адабашьяна и Анны Чернаковой «Хрустальный ключ, или Скарфаджо». Это совместная работа с кинокомпанией «Всемирные Русские Студии», созданная при поддержке Министерства культуры Российской Федерации.
					.two__col-col
						p В настоящий момент Студия «Первый А» готовит ещё несколько семейных проектов, таких как: «Ленточки» по сценарию Александра Адабашьяна и Анны Чернаковой, «Великое противостояние, или Марсианин Лёва» по сценарию Александра Басова.
						p Мы открыты к сотрудничеству с авторами и издательствами.
						p В настоящий момент Студия «Первый А» готовит ещё несколько семейных проектов, таких как: «Ленточки» по сценарию Александра Адабашьяна и Анны Чернаковой, «Великое противостояние, или Марсианин Лёва» по сценарию Александра Басова.
				.links-wrap
					a.btn.btn--colored(href="#") Подробнее
			.blog-block
				.blog-block__row.triangle-item
					.blog-block__item(style="background-image: url(img/gray.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl1.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl2.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl3.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item(style="background-image: url(img/gray.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl1.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl2.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl3.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 












block inlineScripts