extends _layout
block content
	main.main-content
		.pages__top(style="background-image: url(img/blog-top-bg.jpg)")
		.breadcrumbs
			.container
				a(href="#") Главная
				span.sep > 
				a(href="#") Наши проекты
				span.sep > 
				span Фильм “Жили-были мы”
		.project__page
			.container
				h1.simple__title Фильм “Жили-были мы”
				p.project__page-slogan Слоган фильма
					span “Почему косвенно абстрактное высказывание”.
				.synopsis
					h2.simple__small-title Синопсис фильма
					p Мама девочки Маруськи, обидевшись на неё и папу за испорченный чертёж и сломанные часы, уезжает в город, а когда вернется — не знает. Папа решает, что они с Маруськой тоже уедут куда глаза глядят. Но девочке не хочется покидать свой дом и маму. И, чтобы потянуть время, она начинает рассказывать папе сказку про то, как мама, еще маленькой девочкой, ради его спасения отправилась в приключение в прошлое, где пережила страшные опасности и встретила удивительных людей.
				.our-team.cf
					h2.simple__small-title Авторы фильма
					.our-team__list
						.our-team__item
							a.full-link(href="#")
							img(src="img/team1.jpg", alt="")
							span.name Александр Адабашьян
							span.role Художник-постановщик и сосценарист
						.our-team__item
							a.full-link(href="#")
							img(src="img/team2.jpg", alt="")
							span.name Анна Чернакова
							span.role Режиссер-постановщик
						.our-team__item
							a.full-link(href="#")
							img(src="img/team3.jpg", alt="")
							span.name Александр Басов
							span.role Оператор
						.our-team__item
							a.full-link(href="#")
							img(src="img/team4.jpg", alt="")
							span.name Юлия Яновская
							span.role Визажист
				.our-team.casting__list.cf
					h2.simple__small-title Кастинг актеров
					.our-team__list
						.our-team__item
							a.full-link(href="#")
							img(src="img/team1.jpg", alt="")
							span.name Александр Адабашьян
							span.role Художник-постановщик и сосценарист
							.description
								p Российский советский сценарист, художник и актер.  Заслуженный художник РСФСР (1983). Окончил «Строгановку» . В кино работает с 1974 года. Как сценарист и художник работал с Никитой Михалковым над фильмами "Неоконченная пьеса для механического пианино" (1977), "Пять вечеров" (1979), "Несколько дней из жизни И.И.Обломова" (1980), «Очи черные» (1987) и другими. Также сделал несколько фильмов с другими режиссерами, включая Сергея Соловьева, Себастьяна Аларкона, Дуню Смирнову.  Это третья картина, на которой он как сценарист и художник-постановщик сотрудничает с Анной Чернаковой. 
						.our-team__item
							a.full-link(href="#")
							img(src="img/team2.jpg", alt="")
							span.name Анна Чернакова
							span.role Режиссер-постановщик
							.description
								p Сценарист, режиссер, продюсер. Окончила режиссерский факультет ВГИКа (1993, мастерская Марлена Хуциева). Первый полнометражный фильм «Вишневый сад» был удостоен Гран-при на кинофестивале в Минске (1994), стал участником многих международных фестивалей, включая «Кинотавр» и Токийский интернациональный кинофестиваль (Япония).  Фильм "Сезон туманов" получил Главный приз на фестивале "Русское зарубежье" в 2009 году. 
						.our-team__item
							a.full-link(href="#")
							img(src="img/team3.jpg", alt="")
							span.name Александр Басов
							span.role Оператор
							.description
								p Российский советский сценарист, художник и актер.  Заслуженный художник РСФСР (1983). Окончил «Строгановку» . В кино работает с 1974 года. Как сценарист и художник работал с Никитой Михалковым над фильмами "Неоконченная пьеса для механического пианино" (1977), "Пять вечеров" (1979), "Несколько дней из жизни И.И.Обломова" (1980), «Очи черные» (1987) и другими. Также сделал несколько фильмов с другими режиссерами, включая Сергея Соловьева, Себастьяна Аларкона, Дуню Смирнову.  Это третья картина, на которой он как сценарист и художник-постановщик сотрудничает с Анной Чернаковой. 
						.our-team__item
							a.full-link(href="#")
							img(src="img/team4.jpg", alt="")
							span.name Юлия Яновская
							span.role Визажист
							.description
								p Российский советский сценарист, художник и актер.  Заслуженный художник РСФСР (1983). Окончил «Строгановку» . В кино работает с 1974 года. Как сценарист и художник работал с Никитой Михалковым над фильмами "Неоконченная пьеса для механического пианино" (1977), "Пять вечеров" (1979), "Несколько дней из жизни И.И.Обломова" (1980), «Очи черные» (1987) и другими. Также сделал несколько фильмов с другими режиссерами, включая Сергея Соловьева, Себастьяна Аларкона, Дуню Смирнову.  Это третья картина, на которой он как сценарист и художник-постановщик сотрудничает с Анной Чернаковой.
						.our-team__item
							a.full-link(href="#")
							img(src="img/team1.jpg", alt="")
							span.name Александр Адабашьян
							span.role Художник-постановщик и сосценарист
							.description
								p Российский советский сценарист, художник и актер.  Заслуженный художник РСФСР (1983). Окончил «Строгановку» . В кино работает с 1974 года. Как сценарист и художник работал с Никитой Михалковым над фильмами "Неоконченная пьеса для механического пианино" (1977), "Пять вечеров" (1979), "Несколько дней из жизни И.И.Обломова" (1980), «Очи черные» (1987) и другими. Также сделал несколько фильмов с другими режиссерами, включая Сергея Соловьева, Себастьяна Аларкона, Дуню Смирнову.  Это третья картина, на которой он как сценарист и художник-постановщик сотрудничает с Анной Чернаковой. 
						.our-team__item
							a.full-link(href="#")
							img(src="img/team2.jpg", alt="")
							span.name Анна Чернакова
							span.role Режиссер-постановщик
							.description
								p Сценарист, режиссер, продюсер. Окончила режиссерский факультет ВГИКа (1993, мастерская Марлена Хуциева). Первый полнометражный фильм «Вишневый сад» был удостоен Гран-при на кинофестивале в Минске (1994), стал участником многих международных фестивалей, включая «Кинотавр» и Токийский интернациональный кинофестиваль (Япония).  Фильм "Сезон туманов" получил Главный приз на фестивале "Русское зарубежье" в 2009 году. 
						.our-team__item
							a.full-link(href="#")
							img(src="img/team3.jpg", alt="")
							span.name Александр Басов
							span.role Оператор
							.description
								p Российский советский сценарист, художник и актер.  Заслуженный художник РСФСР (1983). Окончил «Строгановку» . В кино работает с 1974 года. Как сценарист и художник работал с Никитой Михалковым над фильмами "Неоконченная пьеса для механического пианино" (1977), "Пять вечеров" (1979), "Несколько дней из жизни И.И.Обломова" (1980), «Очи черные» (1987) и другими. Также сделал несколько фильмов с другими режиссерами, включая Сергея Соловьева, Себастьяна Аларкона, Дуню Смирнову.  Это третья картина, на которой он как сценарист и художник-постановщик сотрудничает с Анной Чернаковой. 
						.our-team__item
							a.full-link(href="#")
							img(src="img/team4.jpg", alt="")
							span.name Юлия Яновская
							span.role Визажист
							.description
								p Российский советский сценарист, художник и актер.  Заслуженный художник РСФСР (1983). Окончил «Строгановку» . В кино работает с 1974 года. Как сценарист и художник работал с Никитой Михалковым над фильмами "Неоконченная пьеса для механического пианино" (1977), "Пять вечеров" (1979), "Несколько дней из жизни И.И.Обломова" (1980), «Очи черные» (1987) и другими. Также сделал несколько фильмов с другими режиссерами, включая Сергея Соловьева, Себастьяна Аларкона, Дуню Смирнову.  Это третья картина, на которой он как сценарист и художник-постановщик сотрудничает с Анной Чернаковой.

			.gallery__slider.cf
				h2.simple__title Галлерея
				.gallery__slider-container
					.gallery__slider-inner
						img(src="img/gallery-img.jpg", alt="")
						img(src="img/gallery-img.jpg", alt="")
						img(src="img/gallery-img.jpg", alt="")

			.blog-block
				.blog-block__row.triangle-item
					.blog-block__item(style="background-image: url(img/gray.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl1.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl2.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl3.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item(style="background-image: url(img/gray.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl1.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl2.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.blog-block__item.white-text(style="background-image: url(img/bl3.jpg)")
						a.full-link(href="#")
						span.blog-cat(href="#") Рецензия
						span.date 7 августа 2016
						p.name Сычев Сергей
						p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 












block inlineScripts